@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Pacifico', cursive;
    background-color: #fcba03;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
    overflow: hidden;
}
.controls{
    position: absolute;
    bottom: 20px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 20px;
}