*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin:0;
}
.container{
    max-width:1000px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}
.container img{
    width: 300px;
    height: 300px;

    object-fit: cover;
    margin: 10px;
}
