
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
:root{
    --left-btn-hover-color:#251fbd;
    --right-btn-hover-color:#bab471;
    --leftbg-color:linear-gradient(45deg,rgba(205,219,127,0.1),rgba(211,41,127,0.1));
    --rightbg-color:linear-gradient(45deg,rgba(228,212,127,0.2),rgba(37,235,127,0.2));
    --hover-width:75%;
    --other-width:25%;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish',sans-serif;
    height: 100vh;
    /* margin:0;
    overflow: hidden; */
    position: relative;
}
.container{
    width: 100%;
    height: 100%;
}

.container .split{
    width: 50%;
    height: 100%;
    position: absolute;
}
.split.left{
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left:0;
}

.split.right{
    background-image: url('../img/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    right:0;
}

h1{
    /*1rem = 16px*/
    font-size:3.2rem;
    color: #fff;
    text-shadow: 2px 0 10px rbga(0,0,0,0.3);
    position: absolute;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border:2px solid #fff;
    padding:20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.split.left .btn:hover{
    background-color:var(--left-btn-hover-color);
    border:2px solid var(--left-btn-hover-color);
}

.split.left::before{
    content: '';
    width: 100%;
    height: 100%;
    background:var(--leftbg-color);
    position: absolute;
}

.split.right .btn:hover{
    background-color:var(--right-btn-hover-color);
    border:2px solid var(--right-btn-hover-color);
}

.split.right::before{
    content: '';
    width: 100%;
    height: 10%;
    background: var(--rightbg-color);
    position: absolute;
}
.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-right .left{
    width: var(--other-width);
}
.hover-right .right{
    width: var(--hover-width);
}

.split-left,.split-left::before,.split.right,.split-right::before{
    transition: all 1s ease;
}
@media(max-width:800px)
{
    h1{
        font-size: 2rem;
        top: 25%;
    }
    .btn{
        width:12rem;
        padding:1.2rem;
    }
}