@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color: #f5f5f5;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
}

h1{
    color: #9410e6;
    font-size: 10rem;
    opacity: 0.5;
}

form{
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input{
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    font-size: 2rem;
    color: #444;
}

.input:focus{
    outline-color: #9410e6;
}

.input::placeholder{
    color: #e8ebdd;
}

.todos{
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.todos li{
    font-size: 1.5rem;
    border-top: 1px solid #e8ebdd;
    padding: 1rem 2rem;
    cursor: pointer;
}

.todos li.completed{
    color: #d7dbc1;
    text-decoration: line-through;
}

small{
    color: #d7dbc1;
    margin-top: 3rem;
    text-align: center;
}